/.cache
/createEmbeddings.ipynb
/getUser.py
/PopularSongs
/PopularSongs.ipynb
/Previous Analysis
/SongsFeatures.csv
/SongsMark.csv
/token.json
/SongsDataset.csv
/PreprocessedDataset.csv
/SongsFeatures.csv
/OneSong.csv
/OneSongPreprocessed.csv
/__pycache__
/model.pt
/model2.pt
/FewSongs.csv
/FewSongsPreprocessed.csv
/python.lnk